# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType
import numpy as np

In [2]:
spark = SparkSession.builder.master("local[1]").appName("cars").getOrCreate()

22/10/11 00:35:10 WARN Utils: Your hostname, xkeyscore resolves to a loopback address: 127.0.1.1; using 192.168.1.11 instead (on interface wlp0s20f3)
22/10/11 00:35:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/11 00:35:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/10/11 00:35:11 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/10/11 00:35:11 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/10/11 00:35:11 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [16]:
sc = spark.sparkContext

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [12]:
first, second, third = [], [], []
for i in range(0,100):
    first.append(np.random.randint(1,4))
    second.append(np.random.randint(1,3))
    third.append(np.random.randint(10000,30000))

In [17]:
series1 = sc.parallelize(first)
series2 = sc.parallelize(second)
series3 = sc.parallelize(third)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [31]:
df1 = spark.createDataFrame(series1,schema="int")
df2 = spark.createDataFrame(series2, schema="int")
df3 = spark.createDataFrame(series3, schema="int")

df = df1.join(df2).join(df3)

In [33]:
df.show()

+-----+-----+-----+
|value|value|value|
+-----+-----+-----+
|    1|    2|17497|
|    1|    2|24102|
|    1|    2|17818|
|    1|    2|15618|
|    1|    2|19320|
|    1|    2|10082|
|    1|    2|18230|
|    1|    2|16461|
|    1|    2|18899|
|    1|    2|29400|
|    1|    2|29391|
|    1|    2|25341|
|    1|    2|14661|
|    1|    2|13050|
|    1|    2|10824|
|    1|    2|27607|
|    1|    2|13167|
|    1|    2|12427|
|    1|    2|12173|
|    1|    2|20568|
+-----+-----+-----+
only showing top 20 rows

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [51]:
new_columns=["bedrs", "bathrs", "price_sqr_meter"]
df = df.toDF(*new_columns)

In [52]:
df.show()

+-----+------+---------------+
|bedrs|bathrs|price_sqr_meter|
+-----+------+---------------+
|    1|     2|          17497|
|    1|     2|          24102|
|    1|     2|          17818|
|    1|     2|          15618|
|    1|     2|          19320|
|    1|     2|          10082|
|    1|     2|          18230|
|    1|     2|          16461|
|    1|     2|          18899|
|    1|     2|          29400|
|    1|     2|          29391|
|    1|     2|          25341|
|    1|     2|          14661|
|    1|     2|          13050|
|    1|     2|          10824|
|    1|     2|          27607|
|    1|     2|          13167|
|    1|     2|          12427|
|    1|     2|          12173|
|    1|     2|          20568|
+-----+------+---------------+
only showing top 20 rows

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [56]:
new_df = df.select(F.col("price_sqr_meter").alias("bigcolumn"))
new_df.show()

+---------+
|bigcolumn|
+---------+
|    17497|
|    24102|
|    17818|
|    15618|
|    19320|
|    10082|
|    18230|
|    16461|
|    18899|
|    29400|
|    29391|
|    25341|
|    14661|
|    13050|
|    10824|
|    27607|
|    13167|
|    12427|
|    12173|
|    20568|
+---------+
only showing top 20 rows

In [58]:
df.count()

1000000

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [59]:
# No

### Step 7. Reindex the DataFrame so it goes from 0 to 299