# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import requests
import numpy
from pyspark.sql import functions as F
import random
from pyspark import SparkContext

In [3]:
spark = SparkSession.builder.master("local[1]").appName("cars").getOrCreate()

22/09/12 15:09:08 WARN Utils: Your hostname, xkeyscore resolves to a loopback address: 127.0.1.1; using 192.168.1.8 instead (on interface wlp0s20f3)
22/09/12 15:09:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/12 15:09:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
sc = spark.sparkContext

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [5]:
cars_1 = spark.read.options(header=True, inferSchema=True).csv("cars1.csv")
cars_2 = spark.read.options(header=True, inferSchema=True).csv("cars2.csv")

   ### Step 3. Assign each to a variable called cars1 and cars2

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [6]:
cars_1.columns

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model',
 'origin',
 'car',
 '_c9',
 '_c10',
 '_c11',
 '_c12',
 '_c13']

In [7]:
cars_1 = cars_1.drop('_c9', '_c10', '_c11', '_c12','_c13')

In [8]:
cars_1.show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
|18.0|        8|         307|       130|  3504|        12.0|   70|     1|chevrolet chevell...|
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320|
|18.0|        8|         318|       150|  3436|        11.0|   70|     1|  plymouth satellite|
|16.0|        8|         304|       150|  3433|        12.0|   70|     1|       amc rebel sst|
|17.0|        8|         302|       140|  3449|        10.5|   70|     1|         ford torino|
|15.0|        8|         429|       198|  4341|        10.0|   70|     1|    ford galaxie 500|
|14.0|        8|         454|       220|  4354|         9.0|   70|     1|    chevrolet impala|
|14.0|        8|         440|       215|  4312|         8.5|   70|     1|   plymouth fury iii|
|14.0|        8|         455|       225|  4425|        10.0|   70|     1|    pontiac catalina|
|15.0|        8|         390|       190|  3850|         8.5|   70|     1|  amc ambassador dpl|
|15.0|        8|         383|       170|  3563|        10.0|   70|     1| dodge challenger se|
|14.0|        8|         340|       160|  3609|         8.0|   70|     1|  plymouth 'cuda 340|
|15.0|        8|         400|       150|  3761|         9.5|   70|     1|chevrolet monte c...|
|14.0|        8|         455|       225|  3086|        10.0|   70|     1|buick estate wago...|
|24.0|        4|         113|        95|  2372|        15.0|   70|     3|toyota corona mar...|
|22.0|        6|         198|        95|  2833|        15.5|   70|     1|     plymouth duster|
|18.0|        6|         199|        97|  2774|        15.5|   70|     1|          amc hornet|
|21.0|        6|         200|        85|  2587|        16.0|   70|     1|       ford maverick|
|27.0|        4|          97|        88|  2130|        14.5|   70|     3|        datsun pl510|
|26.0|        4|          97|        46|  1835|        20.5|   70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
only showing top 20 rows

### Step 5. What is the number of observations in each dataset?

In [9]:
print("Count of cars1 dataset: {}".format(cars_1.count()))
print("Count of cars2 dataset: {}".format(cars_2.count()))

Count of cars1 dataset: 198
Count of cars2 dataset: 200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [10]:
print(cars_1.columns)
print(cars_2.columns)

['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model', 'origin', 'car']
['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model', 'origin', 'car']

In [11]:
total_cars = cars_1.union(cars_2)

In [12]:
total_cars.count()

398

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [13]:
l = []
for x in range(0,398):
    l.append(random.randint(15000,73000))
print(l)

[15298, 23826, 18233, 41082, 49197, 30916, 68243, 39010, 15138, 47722, 17453, 46775, 52016, 65597, 56224, 19807, 61071, 72827, 56736, 20743, 19340, 41415, 54732, 25416, 71020, 43716, 25641, 45119, 34557, 25444, 25118, 27871, 63760, 27291, 39642, 20631, 65526, 72080, 59588, 68561, 29729, 56358, 40105, 55655, 47448, 45037, 64951, 72915, 52333, 46939, 62047, 69902, 52387, 15269, 42151, 45861, 61699, 38602, 64302, 47325, 32481, 24603, 29642, 32072, 29922, 63449, 26183, 49356, 50263, 65729, 24904, 62913, 69017, 18416, 70854, 25828, 22976, 38993, 23082, 30143, 59483, 59566, 36910, 34633, 47278, 34284, 71172, 67318, 57312, 54042, 67205, 25337, 43913, 41186, 59864, 26345, 37011, 63731, 63551, 51003, 25322, 17660, 26297, 16702, 36792, 46861, 22828, 30464, 69792, 62169, 46994, 72319, 57336, 47293, 63020, 28865, 69486, 30234, 68994, 60028, 16044, 27274, 48341, 51087, 72605, 57758, 60287, 55747, 33290, 43055, 33370, 40841, 64303, 30656, 43840, 35233, 45621, 33712, 34654, 54639, 69484, 18875, 58861, 32277, 16480, 47894, 32262, 39828, 18817, 19202, 46530, 17093, 32240, 65213, 26490, 65139, 43925, 54221, 46541, 30858, 66000, 32907, 46041, 64673, 31141, 30554, 29205, 66612, 62813, 70617, 65015, 25983, 28657, 43741, 60313, 47455, 44646, 56746, 53068, 67171, 49632, 67738, 23002, 21428, 37460, 32940, 57084, 52799, 32987, 51258, 43831, 62810, 43174, 29853, 29780, 44949, 42770, 23825, 16062, 39524, 29507, 23788, 28130, 34341, 70001, 50815, 46920, 66000, 68824, 43365, 31644, 17050, 34835, 64106, 46556, 35231, 62413, 37347, 52193, 48846, 62198, 70125, 41561, 47422, 34329, 33152, 46891, 72802, 44488, 52964, 70358, 28186, 68048, 67877, 40554, 37138, 50884, 60303, 36103, 55603, 54793, 23596, 38194, 33153, 37307, 62260, 37569, 71464, 68010, 15253, 37523, 27989, 70636, 23376, 71649, 27754, 49954, 71931, 52897, 49726, 67970, 57658, 45185, 42909, 52112, 66864, 38391, 62231, 59825, 40493, 26365, 72376, 61591, 23884, 58786, 57490, 16636, 18545, 25179, 59326, 34653, 54103, 59294, 66775, 50854, 71505, 34731, 46473, 50881, 46742, 22722, 38451, 36059, 66625, 19730, 16131, 33962, 42271, 61230, 53466, 30940, 38955, 42671, 54874, 21289, 29401, 67306, 61439, 60956, 36878, 45311, 58064, 33498, 37345, 16591, 19803, 28823, 61361, 55488, 18143, 71868, 65143, 45883, 28020, 23248, 31111, 64107, 25400, 36635, 66063, 44145, 59678, 23960, 29085, 71538, 66979, 62624, 40005, 67591, 65275, 56359, 47484, 15493, 46047, 66849, 44982, 58413, 64528, 72538, 68428, 36693, 42439, 72217, 18653, 70154, 23874, 57112, 71765, 16861, 64206, 24300, 34440, 64606, 29551, 52749, 44146, 72723, 60323, 22856, 39596, 51605, 46588, 17981, 61480, 62458, 21946, 69279, 49190, 15447, 69972, 50920, 62006, 43397, 36007, 40059, 25368, 40912, 16202, 33310, 59950, 21569, 47022, 36113, 22312, 38491, 18465, 49639, 62707]

In [15]:
total_cars.withColumn("owners",random.randint(15000,73000))

TypeError: col should be Column

In [59]:
total_cars.show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
|18.0|        8|         307|       130|  3504|        12.0|   70|     1|chevrolet chevell...|
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320|
|18.0|        8|         318|       150|  3436|        11.0|   70|     1|  plymouth satellite|
|16.0|        8|         304|       150|  3433|        12.0|   70|     1|       amc rebel sst|
|17.0|        8|         302|       140|  3449|        10.5|   70|     1|         ford torino|
|15.0|        8|         429|       198|  4341|        10.0|   70|     1|    ford galaxie 500|
|14.0|        8|         454|       220|  4354|         9.0|   70|     1|    chevrolet impala|
|14.0|        8|         440|       215|  4312|         8.5|   70|     1|   plymouth fury iii|
|14.0|        8|         455|       225|  4425|        10.0|   70|     1|    pontiac catalina|
|15.0|        8|         390|       190|  3850|         8.5|   70|     1|  amc ambassador dpl|
|15.0|        8|         383|       170|  3563|        10.0|   70|     1| dodge challenger se|
|14.0|        8|         340|       160|  3609|         8.0|   70|     1|  plymouth 'cuda 340|
|15.0|        8|         400|       150|  3761|         9.5|   70|     1|chevrolet monte c...|
|14.0|        8|         455|       225|  3086|        10.0|   70|     1|buick estate wago...|
|24.0|        4|         113|        95|  2372|        15.0|   70|     3|toyota corona mar...|
|22.0|        6|         198|        95|  2833|        15.5|   70|     1|     plymouth duster|
|18.0|        6|         199|        97|  2774|        15.5|   70|     1|          amc hornet|
|21.0|        6|         200|        85|  2587|        16.0|   70|     1|       ford maverick|
|27.0|        4|          97|        88|  2130|        14.5|   70|     3|        datsun pl510|
|26.0|        4|          97|        46|  1835|        20.5|   70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
only showing top 20 rows

In [ ]:
owners_df = spark.createDataFrame()

In [47]:
owners_df = spark.createDataFrame

Signature:
spark.createDataFrame(
    data: Union[pyspark.rdd.RDD[Any], Iterable[Any], ForwardRef('PandasDataFrameLike')],
    schema: Union[pyspark.sql.types.AtomicType, pyspark.sql.types.StructType, str, NoneType] = None,
    samplingRatio: Union[float, NoneType] = None,
    verifySchema: bool = True,
) -> pyspark.sql.dataframe.DataFrame
Docstring:
Creates a :class:`DataFrame` from an :class:`RDD`, a list or a :class:`pandas.DataFrame`.

When ``schema`` is a list of column names, the type of each column
will be inferred from ``data``.

When ``schema`` is ``None``, it will try to infer the schema (column names and types)
from ``data``, which should be an RDD of either :class:`Row`,
:class:`namedtuple`, or :class:`dict`.

When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must match
the real data, or an exception will be thrown at runtime. If the given schema is not
:class:`pyspark.sql.types.StructType`, it will be wrapped into a
:class:`pyspark.sql.types.StructType` as its only field, and the field name will be "value".
Each record will also be wrapped into a tuple, which can be converted to row later.

If schema inference is needed, ``samplingRatio`` is used to determined the ratio of
rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.

.. versionadded:: 2.0.0

.. versionchanged:: 2.1.0
   Added verifySchema.

Parameters
----------
data : :class:`RDD` or iterable
    an RDD of any kind of SQL data representation (:class:`Row`,
    :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`, or
    :class:`pandas.DataFrame`.
schema : :class:`pyspark.sql.types.DataType`, str or list, optional
    a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
    column names, default is None.  The data type string format equals to
    :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
    omit the ``struct<>``.
samplingRatio : float, optional
    the sample ratio of rows used for inferring
verifySchema : bool, optional
    verify data types of every row against schema. Enabled by default.

Returns
-------
:class:`DataFrame`

Notes
-----
Usage with spark.sql.execution.arrow.pyspark.enabled=True is experimental.

Examples
--------
>>> l = [('Alice', 1)]
>>> spark.createDataFrame(l).collect()
[Row(_1='Alice', _2=1)]
>>> spark.createDataFrame(l, ['name', 'age']).collect()
[Row(name='Alice', age=1)]

>>> d = [{'name': 'Alice', 'age': 1}]
>>> spark.createDataFrame(d).collect()
[Row(age=1, name='Alice')]

>>> rdd = sc.parallelize(l)
>>> spark.createDataFrame(rdd).collect()
[Row(_1='Alice', _2=1)]
>>> df = spark.createDataFrame(rdd, ['name', 'age'])
>>> df.collect()
[Row(name='Alice', age=1)]

>>> from pyspark.sql import Row
>>> Person = Row('name', 'age')
>>> person = rdd.map(lambda r: Person(*r))
>>> df2 = spark.createDataFrame(person)
>>> df2.collect()
[Row(name='Alice', age=1)]

>>> from pyspark.sql.types import *
>>> schema = StructType([
...    StructField("name", StringType(), True),
...    StructField("age", IntegerType(), True)])
>>> df3 = spark.createDataFrame(rdd, schema)
>>> df3.collect()
[Row(name='Alice', age=1)]

>>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
[Row(name='Alice', age=1)]
>>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
[Row(0=1, 1=2)]

>>> spark.createDataFrame(rdd, "a: string, b: int").collect()
[Row(a='Alice', b=1)]
>>> rdd = rdd.map(lambda row: row[1])
>>> spark.createDataFrame(rdd, "int").collect()
[Row(value=1)]
>>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
Traceback (most recent call last):
    ...
Py4JJavaError: ...
File:      ~/Documents/pyspark_exercises/venv/lib/python3.8/site-packages/pyspark/sql/session.py
Type:      method

In [46]:
total_cars.withColumn("owners")

TypeError: withColumn() missing 1 required positional argument: 'col'

In [37]:
total_cars.withColumn?

Signature: total_cars.withColumn(colName: str, col: pyspark.sql.column.Column) -> 'DataFrame'
Docstring:
Returns a new :class:`DataFrame` by adding a column or replacing the
existing column that has the same name.

The column expression must be an expression over this :class:`DataFrame`; attempting to add
a column from some other :class:`DataFrame` will raise an error.

.. versionadded:: 1.3.0

Parameters
----------
colName : str
    string, name of the new column.
col : :class:`Column`
    a :class:`Column` expression for the new column.

Notes
-----
This method introduces a projection internally. Therefore, calling it multiple
times, for instance, via loops in order to add multiple columns can generate big
plans which can cause performance issues and even `StackOverflowException`.
To avoid this, use :func:`select` with the multiple columns at once.

Examples
--------
>>> df.withColumn('age2', df.age + 2).collect()
[Row(age=2, name='Alice', age2=4), Row(age=5, name='Bob', age2=7)]
File:      ~/Documents/pyspark_exercises/venv/lib/python3.8/site-packages/pyspark/sql/dataframe.py
Type:      method

### Step 8. Add the column owners to cars