# Visualizing the Titanic Disaster

### Introduction:

This exercise is based on the titanic Disaster dataset avaiable at [Kaggle](https://www.kaggle.com/c/titanic).  
To know more about the variables check [here](https://www.kaggle.com/c/titanic/data)


### Step 1. Import the necessary libraries

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
spark = SparkSession.builder.master("local[1]").appName("scores").getOrCreate()

23/01/02 18:17:41 WARN Utils: Your hostname, xkeyscore resolves to a loopback address: 127.0.1.1; using 192.168.1.10 instead (on interface wlp0s20f3)
23/01/02 18:17:41 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/02 18:17:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/01/02 18:17:42 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/01/02 18:17:42 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Titanic_Desaster/train.csv)

### Step 3. Assign it to a variable titanic

In [3]:
titanic = spark.read.csv("train.csv",inferSchema=True,header=True,encoding='utf-8',ind)

In [4]:
titanic.show(1)

+-----------+--------+------+--------------------+----+----+-----+-----+---------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|   Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+----+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| null|       S|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+----+-----+--------+
only showing top 1 row

### Step 4. Set PassengerId as the index

In [7]:
# ??

In [9]:
titanic_pd = titanic.toPandas()

### Step 5. Create a pie chart presenting the male/female proportion

In [ ]:
data =

### Step 6. Create a scatterplot with the Fare payed and the Age, differ the plot color by gender

### Step 7. How many people survived?

### Step 8. Create a histogram with the Fare payed

### BONUS: Create your own question and answer it.