# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

In [3]:
spark = SparkSession.builder.master("local[1]").appName('pyspark').getOrCreate()

22/09/28 15:08:10 WARN Utils: Your hostname, xkeyscore resolves to a loopback address: 127.0.1.1; using 192.168.1.11 instead (on interface wlp0s20f3)
22/09/28 15:08:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/28 15:08:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Step 2. Create the DataFrame with the following values:

In [10]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [14]:
import json
json_string = json.dumps(raw_data)
with open('json_data.json', 'w') as outfile:
    outfile.write(json_string)

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [15]:
regiment = spark.read.json('json_data.json')

In [17]:
regiment.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+
|             company|                name|       postTestScore|        preTestScore|            regiment|
+--------------------+--------------------+--------------------+--------------------+--------------------+
|[1st, 1st, 2nd, 2...|[Miller, Jacobson...|[25, 94, 57, 62, ...|[4, 24, 31, 2, 3,...|[Nighthawks, Nigh...|
+--------------------+--------------------+--------------------+--------------------+--------------------+

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

### Step 5. Present general statistics by company

### Step 6. What is the mean of each company's preTestScore?

### Step 7. Present the mean preTestScores grouped by regiment and company

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

### Step 9. Group the entire dataframe by regiment and company

### Step 10. What is the number of observations in each regiment and company

### Step 11. Iterate over a group and print the name and the whole data from the regiment