# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import requests as r

In [2]:
spark = SparkSession.builder.master("local[1]").appName("scores").getOrCreate()

23/01/02 20:43:26 WARN Utils: Your hostname, xkeyscore resolves to a loopback address: 127.0.1.1; using 192.168.1.10 instead (on interface wlp0s20f3)
23/01/02 20:43:26 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/02 20:43:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/01/02 20:43:27 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/01/02 20:43:27 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/01/02 20:43:27 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/01/02 20:43:27 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/01/02 20:43:27 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
23/01/02 20:43:27 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
23/01/02 20:43:27 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

In [6]:
URL = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
req = r.get(URL)
with open('iris.csv','w+') as f:
    f.write(req.text)

### Step 3. Assign it to a variable called iris

In [9]:
iris = spark.read.csv("iris.csv",inferSchema=True, header=False)

In [10]:
iris.show(10)

+---+---+---+---+-----------+
|_c0|_c1|_c2|_c3|        _c4|
+---+---+---+---+-----------+
|5.1|3.5|1.4|0.2|Iris-setosa|
|4.9|3.0|1.4|0.2|Iris-setosa|
|4.7|3.2|1.3|0.2|Iris-setosa|
|4.6|3.1|1.5|0.2|Iris-setosa|
|5.0|3.6|1.4|0.2|Iris-setosa|
|5.4|3.9|1.7|0.4|Iris-setosa|
|4.6|3.4|1.4|0.3|Iris-setosa|
|5.0|3.4|1.5|0.2|Iris-setosa|
|4.4|2.9|1.4|0.2|Iris-setosa|
|4.9|3.1|1.5|0.1|Iris-setosa|
+---+---+---+---+-----------+
only showing top 10 rows

### Step 4. Create columns for the dataset

In [14]:
iris = iris.select(
    F.col('_c0').alias('sepal_length'),
    F.col('_c1').alias('sepal_width'),
    F.col('_c2').alias('petal_length'),
    F.col('_c3').alias('petal_width'),
    F.col('_c4').alias('class')
)

In [15]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.show(10)

+------------+-----------+------------+-----------+-----------+
|sepal_length|sepal_width|petal_length|petal_width|      class|
+------------+-----------+------------+-----------+-----------+
|         5.1|        3.5|         1.4|        0.2|Iris-setosa|
|         4.9|        3.0|         1.4|        0.2|Iris-setosa|
|         4.7|        3.2|         1.3|        0.2|Iris-setosa|
|         4.6|        3.1|         1.5|        0.2|Iris-setosa|
|         5.0|        3.6|         1.4|        0.2|Iris-setosa|
|         5.4|        3.9|         1.7|        0.4|Iris-setosa|
|         4.6|        3.4|         1.4|        0.3|Iris-setosa|
|         5.0|        3.4|         1.5|        0.2|Iris-setosa|
|         4.4|        2.9|         1.4|        0.2|Iris-setosa|
|         4.9|        3.1|         1.5|        0.1|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 10 rows

### Step 5.  Is there any missing value in the dataframe?

In [19]:
iris.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in iris.columns]).show()

+------------+-----------+------------+-----------+-----+
|sepal_length|sepal_width|petal_length|petal_width|class|
+------------+-----------+------------+-----------+-----+
|           0|          0|           0|          0|    0|
+------------+-----------+------------+-----------+-----+

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [20]:
# idk

### Step 7. Good, now lets substitute the NaN values to 1.0

### Step 8. Now let's delete the column class

### Step 9.  Set the first 3 rows as NaN

### Step 10.  Delete the rows that have NaN

### Step 11. Reset the index so it begins with 0 again

### BONUS: Create your own question and answer it.