# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import requests

In [2]:
spark = SparkSession.builder.master("local[1]").appName("cars").getOrCreate()

22/10/11 01:05:27 WARN Utils: Your hostname, xkeyscore resolves to a loopback address: 127.0.1.1; using 192.168.1.11 instead (on interface wlp0s20f3)
22/10/11 01:05:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/11 01:05:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/10/11 01:05:28 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/10/11 01:05:28 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/10/11 01:05:28 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/10/11 01:05:28 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [5]:
baby_names = spark.read.csv("US_Baby_Names_right.csv", inferSchema=True, header=True)
baby_names.show(5)

22/10/11 01:06:42 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Id, Name, Year, Gender, State, Count
 Schema: _c0, Id, Name, Year, Gender, State, Count
Expected: _c0 but found:
CSV file: file:///home/chiragsehra/Documents/pyspark_exercises/06_Stats/US_Baby_Names/US_Baby_Names_right.csv
+-----+-----+-------+----+------+-----+-----+
|  _c0|   Id|   Name|Year|Gender|State|Count|
+-----+-----+-------+----+------+-----+-----+
|11349|11350|   Emma|2004|     F|   AK|   62|
|11350|11351|Madison|2004|     F|   AK|   48|
|11351|11352| Hannah|2004|     F|   AK|   46|
|11352|11353|  Grace|2004|     F|   AK|   44|
|11353|11354|  Emily|2004|     F|   AK|   41|
+-----+-----+-------+----+------+-----+-----+
only showing top 5 rows

### Step 4. See the first 10 entries

In [6]:
baby_names.show(10)

22/10/11 01:07:00 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Id, Name, Year, Gender, State, Count
 Schema: _c0, Id, Name, Year, Gender, State, Count
Expected: _c0 but found:
CSV file: file:///home/chiragsehra/Documents/pyspark_exercises/06_Stats/US_Baby_Names/US_Baby_Names_right.csv
+-----+-----+--------+----+------+-----+-----+
|  _c0|   Id|    Name|Year|Gender|State|Count|
+-----+-----+--------+----+------+-----+-----+
|11349|11350|    Emma|2004|     F|   AK|   62|
|11350|11351| Madison|2004|     F|   AK|   48|
|11351|11352|  Hannah|2004|     F|   AK|   46|
|11352|11353|   Grace|2004|     F|   AK|   44|
|11353|11354|   Emily|2004|     F|   AK|   41|
|11354|11355| Abigail|2004|     F|   AK|   37|
|11355|11356|  Olivia|2004|     F|   AK|   33|
|11356|11357|Isabella|2004|     F|   AK|   30|
|11357|11358|  Alyssa|2004|     F|   AK|   29|
|11358|11359|  Sophia|2004|     F|   AK|   28|
+-----+-----+--------+----+------+-----+-----+
only showing top 10 rows

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [9]:
baby_names = baby_names.drop(F.col("_c0")).drop(F.col("Id"))
baby_names.show(5)

+-------+----+------+-----+-----+
|   Name|Year|Gender|State|Count|
+-------+----+------+-----+-----+
|   Emma|2004|     F|   AK|   62|
|Madison|2004|     F|   AK|   48|
| Hannah|2004|     F|   AK|   46|
|  Grace|2004|     F|   AK|   44|
|  Emily|2004|     F|   AK|   41|
+-------+----+------+-----+-----+
only showing top 5 rows

### Step 6. Is there more male or female names in the dataset?

In [17]:
baby_names.select(F.col("Gender")).groupby("Gender").count().show()

+------+------+
|Gender| count|
+------+------+
|     F|558846|
|     M|457549|
+------+------+

### Step 7. Group the dataset by name and assign to names

In [19]:
names = baby_names.select("name").groupby("name").count()
names.show()

+--------+-----+
|    name|count|
+--------+-----+
|   Kiana|  341|
|  Alayna|  469|
|   Ember|  262|
|   Tyler|  770|
|  Maddox|  537|
|  Kellen|  398|
|  Heaven|  403|
|Julianne|  257|
| Susanna|  151|
|  Kenlee|   76|
|    Kloe|  153|
|   Anyah|   68|
|   Tegan|  322|
| Jazzlyn|   96|
|Brileigh|   20|
|Analeigh|   57|
|Kamarion|  118|
|   Aryan|  212|
| Galilea|  119|
|    Faye|  126|
+--------+-----+
only showing top 20 rows

### Step 8. How many different names exist in the dataset?

In [20]:
names.count()

17632

### Step 9. What is the name with most occurrences?

In [26]:
names.orderBy(F.desc("count")).show()

+-------+-----+
|   name|count|
+-------+-----+
|  Riley| 1112|
|  Avery| 1080|
| Jordan| 1073|
| Peyton| 1064|
| Hayden| 1049|
| Taylor| 1033|
| Jayden| 1031|
| Alexis|  984|
| Payton|  971|
|  Angel|  962|
| Dakota|  962|
|  Logan|  957|
| Parker|  947|
| Morgan|  945|
|Cameron|  944|
|   Ryan|  901|
|  Dylan|  895|
| Skyler|  895|
|  Reese|  880|
|  Quinn|  873|
+-------+-----+
only showing top 20 rows

### Step 10. How many different names have the least occurrences?

In [43]:
min_count = names.select(F.min(F.col("count")))

In [49]:
names.select(F.col("name"), F.col("count")).filter(F.col("count") == F.min(F.col("count")))

AnalysisException:
Aggregate/Window/Generate expressions are not valid in where clause of the query.
Expression in where clause: [(count = min(count))]
Invalid expressions: [min(count)];
Filter (count#355L = min(count#355L))
+- Project [name#19, count#355L]
   +- Aggregate [name#19], [name#19, count(1) AS count#355L]
      +- Project [name#19]
         +- Project [Name#19, Year#20, Gender#21, State#22, Count#23]
            +- Project [Id#18, Name#19, Year#20, Gender#21, State#22, Count#23]
               +- Relation [_c0#17,Id#18,Name#19,Year#20,Gender#21,State#22,Count#23] csv

### Step 11. What is the median name occurrence?

### Step 12. What is the standard deviation of names?

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [68]:
baby_names.describe().show(10)

+-------+--------+------------------+-------+-------+-----------------+
|summary|    Name|              Year| Gender|  State|            Count|
+-------+--------+------------------+-------+-------+-----------------+
|  count| 1016395|           1016395|1016395|1016395|          1016395|
|   mean|Infinity|2009.0531899507573|   null|   null|34.85012421351935|
| stddev|    null|3.1382928281815494|   null|   null| 97.3973464861767|
|    min|   Aaban|              2004|      F|     AK|                5|
|    max|  Zyriah|              2014|      M|     WY|             4167|
+-------+--------+------------------+-------+-------+-----------------+