# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [15]:
from pyspark.sql import SparkSession
import requests
from pyspark.sql.functions import asc, desc

In [2]:
spark = SparkSession.builder.master("local[2]").appName("chipotle").getOrCreate()

22/08/30 02:38:03 WARN Utils: Your hostname, xkeyscore resolves to a loopback address: 127.0.1.1; using 192.168.1.8 instead (on interface wlp0s20f3)
22/08/30 02:38:03 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/30 02:38:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/08/30 02:38:04 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/08/30 02:38:04 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/08/30 02:38:04 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [5]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [6]:
r = requests.get(url)

with open("chipotle.tsv", "w") as f:
    f.write(r.text)

### Step 3. Assign it to a variable called chipo.

In [7]:
chipo = spark.read.options(header=True, inferSchema=True, delimiter="\t").csv("chipotle.tsv")

### Step 4. How many products cost more than $10.00?

NameError: name 'col' is not defined

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

### Step 6. Sort by the name of the item

In [19]:
chipo.select("*").sort(asc("item_name")).head(10)

[Row(order_id=264, quantity=1, item_name='6 Pack Soft Drink', choice_description='[Diet Coke]', item_price='$6.49 '),
 Row(order_id=520, quantity=1, item_name='6 Pack Soft Drink', choice_description='[Sprite]', item_price='$6.49 '),
 Row(order_id=298, quantity=1, item_name='6 Pack Soft Drink', choice_description='[Nestea]', item_price='$6.49 '),
 Row(order_id=148, quantity=1, item_name='6 Pack Soft Drink', choice_description='[Diet Coke]', item_price='$6.49 '),
 Row(order_id=306, quantity=1, item_name='6 Pack Soft Drink', choice_description='[Coke]', item_price='$6.49 '),
 Row(order_id=168, quantity=1, item_name='6 Pack Soft Drink', choice_description='[Diet Coke]', item_price='$6.49 '),
 Row(order_id=363, quantity=1, item_name='6 Pack Soft Drink', choice_description='[Coke]', item_price='$6.49 '),
 Row(order_id=230, quantity=1, item_name='6 Pack Soft Drink', choice_description='[Diet Coke]', item_price='$6.49 '),
 Row(order_id=422, quantity=1, item_name='6 Pack Soft Drink', choice_description='[Sprite]', item_price='$6.49 '),
 Row(order_id=432, quantity=1, item_name='6 Pack Soft Drink', choice_description='[Coke]', item_price='$6.49 ')]

### Step 7. What was the quantity of the most expensive item ordered?

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [21]:
chipo.select("item_name").filter("item_name='Veggie Salad Bowl'").count()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [27]:
chipo.select("item_name").filter("item_name='Canned Soda' and quantity>1").groupby("item_name").count().show()

+-----------+-----+
|  item_name|count|
+-----------+-----+
|Canned Soda|   20|
+-----------+-----+